
<input ng-model="num" ng-change="setNum()"/>


<!--<div id="recipe-list">
    <div class="col-sm-6 col-md-2" ng-repeat="recipe in recipes">
        <div class="recipe-card">
            <h4><a href="#/recipes/{{ recipe.id }}>{{ recipe.name }}</a></h4>
            <img class="img-responsive" src="{{ recipe.photo }}">
             
        </div>
    </div>
</div> -->
<!--Effect: Rotate LESS -->
<div class="recipe-pics">
    <div class="pic" ng-repeat="recipe in recipes | filter:query">
        <img ng-src="{{recipe.photo}}" class="pic-image" alt="Pic"/>
    	<span class="pic-caption rotate-in">
        <h3 class="pic-title">{{recipe.name}}</h3>
            <h2>{{recipe.description}}</h2>
            <h2>{{recipe.directions}}</h2><br>
            <a href="#/recipes/{{recipe.id}}">Details</a>
        </span>
    </div>
</div>